<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bays.dao.UserMapper">

    <select id="findAll" resultType="java.util.Map">
      select * from user_info
    </select>

    <insert id="insert">
        insert into user_info(user_name,password,email,status,add_time) values (#{user.userName},#{user.passWord},
        #{user.email},#{user.status},#{user.addTime})
    </insert>
</mapper>